{% extends "base.html" %}

{% block content %}
<h1>Добавление задачи</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <table>
        <thead>
        <tr>
            <td>
                <center>{{ form.difficult.label }}</center>
                {{ form.difficult(class="form-control") }}<br>
                {% for error in form.difficult.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </td>
            <td>
                <center>{{ form.time_needed.label }}</center>
                {{ form.time_needed(class="form-control") }}<br>
                {% for error in form.time_needed.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </td>
            <td>
                <center>{{ form.memory_needed.label }}</center>
                {{ form.memory_needed(class="form-control") }}<br>
                {% for error in form.memory_needed.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </td>
        </tr>
        </thead>
    </table>
    <p>
        {{ form.input_description.label }}<br>
        {{ form.input_description(class="form-control") }}<br>
        {% for error in form.input_description.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.output_description.label }}<br>
        {{ form.output_description(class="form-control") }}<br>
        {% for error in form.output_description.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <table>
        <thead>
        <tr>
            <td>
                <center>{{ form.example_count.label }}</center>
                {{ form.example_count(class="form-control") }}<br>
                {% for error in form.example_count.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </td>
            <td>
                <center>{{ form.test_count.label }}</center>
                {{ form.test_count(class="form-control") }}<br>
                {% for error in form.test_count.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </td>
        </tr>
        </thead>
    </table>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}