{% extends "base.html" %}

{% block content %}
<h1>Добавление задачи</h1>
<form action="" method="post">
    <h1>Примеры</h1>
    <table>
        <thead>
        <tr>
            <th>Input</th>
            <th>Output</th>
            <th></th>
        </tr>
        </thead>
        {% for form in example_forms %}
        {{ form.hidden_tag() }}
        <tr>
            <td>
                {{ form.example_input(class="form-control") }}<br>
                {% for error in form.example_input.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </td>
            <td>
                {{ form.example_output(class="form-control") }}<br>
                {% for error in form.example_output.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </td>
            <td>{{ form.submit(type="submit", class="btn btn-primary") }}</td>
        </tr>
        {% endfor %}
    </table>
    <h1>Тесты</h1>
    <table>
        <thead>
        <tr>
            <th>Input</th>
            <th>Output</th>
            <th></th>
        </tr>
        </thead>
        {% for form in test_forms %}
        {{ form.hidden_tag() }}
        <tr>
            <td>
                {{ form.test_input(class="form-control") }}<br>
                {% for error in form.test_input.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </td>
            <td>
                {{ form.test_output(class="form-control") }}<br>
                {% for error in form.test_output.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </td>
            <td>{{ form.submit(type="submit", class="btn btn-primary") }}</td>
        </tr>
        {% endfor %}
    </table>
    {{message}}
</form>
{% endblock %}