{% extends "base.html" %}

{% block content %}
<h1>Добавление задачи</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <div>
        {{ form.difficult.label }}<br>
        {{ form.difficult(class="form-control") }}<br>
        {% for error in form.difficult.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        {{ form.time_needed.label }}<br>
        {{ form.time_needed(class="form-control") }}<br>
        {% for error in form.time_needed.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        {{ form.memory_needed.label }}<br>
        {{ form.memory_needed(class="form-control") }}<br>
        {% for error in form.memory_needed.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <p>
        {{ form.input_description.label }}<br>
        {{ form.input_description(class="form-control") }}<br>
        {% for error in form.input_description.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.output_description.label }}<br>
        {{ form.output_description(class="form-control") }}<br>
        {% for error in form.output_description.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.example_count.label }}<br>
        {{ form.example_count(class="form-control") }}<br>
        {% for error in form.example_count.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.test_count.label }}<br>
        {{ form.test_count(class="form-control") }}<br>
        {% for error in form.test_count.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}