{% extends "base.html" %}

{% block content %}
    {% if my_profile %}
      <a class="btn btn-lg btn-danger" href="/add_problem">Добавить задачу</a>
    {% else %}
      <h2>Профиль автора {{title}}</h2>
    {% endif %}
    <h3 class="text-primary">Задачи автора</h3>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Задача</th>
          <th scope="col">Сложность</th>
          {% if my_profile %}
            <th scope="col">Редактировать</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for item in my_problems %}
        <tr>
          <th scope="row"><a href="/problem/{{item.id}}" class="link-danger">{{item.id}}</a></th>
          <td><a href="/problem/{{item.id}}" class="link-success">{{item.title}}</a></td>
          <td>{{item.difficult}}%</td>
          {% if my_profile %}
            <td><a class="btn btn-primary btn-sm" href="/edit_problem/{{item.id}}">Редактировать</a>
              <a class="btn btn-secondary btn-sm" href="/edit_examples_and_tests/{{item.id}}">Примеры и тесты</a>
              <a class="btn btn-danger btn-sm" href="/delete_problem/{{item.id}}">Удалить</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-primary">Последние решения</h3>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Задача</th>
          <th scope="col">Сложность</th>
          <th scope="col">Решено</th>
          <th scope="col">Тесты</th>
        </tr>
      </thead>
      <tbody>
        {% for item in solved_problems %}
        <tr>
          <th scope="row"><a href="/problem/{{item.id}}" class="link-danger">{{item.problem.id}}</a></th>
          <td><a href="/problem/{{item.id}}" class="link-success">{{item.problem.title}}</a></td>
          <td>{{item.problem.difficult}}%</td>
          <td>{{item.is_solved}}</td>
          <td>{{item.solved_tests}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-primary">Любимые задачи</h3>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Задача</th>
          <th scope="col">Сложность</th>
          <th scope="col">Решено</th>
        </tr>
      </thead>
      <tbody>
        {% for item in fav_problems %}
        <tr>
          <th scope="row"><a href="/problem/{{item.id}}" class="link-danger">{{item.problem.id}}</a></th>
          <td><a href="/problem/{{item.id}}" class="link-success">{{item.problem.title}}</a></td>
          <td>{{item.problem.difficult}}%</td>
          <td>{% if item.problem.id in solved %}True{% else %}False{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}