{% extends "base.html" %}

{% block content %}
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Задача</th>
          <th scope="col">Сложность</th>
          {% if current_user.is_authenticated%}
            <th scope="col">Решено</th>
            <th scope="col">Нравится</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for item in problems %}
        <tr>
          <th scope="row"><a href="/problem/{{item.id}}" class="link-danger">{{item.id}}</a></th>
          <td><a href="/problem/{{item.id}}" class="link-success">{{item.title}}</a></td>
          <td>{{item.difficult}}%</td>
          {% if current_user.is_authenticated %}
            {% if item.id in solved %}
              <td>True</td>
            {% else %}
              <td>False</td>
            {% endif %}
            {% if item.id in fav_problems %}
              <td><a class="btn btn-secondary btn-sm" href="/liked/{{item.id}}">-</a></td>
            {% else %}
              <td><a class="btn btn-danger btn-sm" href="/liked/{{item.id}}">+</a></td>
            {% endif %}
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}