{% extends "base.html" %}

{% block content %}
    <h4>Задача №{{problem.id}}</h4><br>
    <h2>{{problem.title}}</h2>
    <h6>(Время: {{problem.time_needed}} сек. Память: {{problem.memory_needed}} Мб Сложность: {{problem.difficult}}%)</h6><br>
    <h5>Условие</h5>
    <p>{{problem.description}}</p><br>
    <h5>Входные данные</h5>
    <p>{{problem.input_description}}</p><br>
    <h5>Выходные данные</h5>
    <p>{{problem.output_description}}</p><br>
    {% if current_user.is_authenticated %}
        <p>тут скоро можно будет присылать задачи</p>
    {% else %}
        <p class="text-success">Для отправки решения задачи необходимо <a href="/register" class="link-success">зарегистрироваться</a> и <a href="/login" class="link-success">авторизоваться</a>!</p>
    {% endif %}
    <p class="text-secondary">Автор задачи: <a class="link-secondary" href="/profile/{{problem.author_id}}">{{problem.author.username}}</a></p>
{% endblock %}