{% extends "base.html" %}

{% block content %}
    <a class="btn btn-lg btn-info" href="/become_author">Стать автором</a>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Задача</th>
          <th scope="col">Сложность</th>
          <th scope="col">Решено</th>
        </tr>
      </thead>
      <tbody>
        {% for item in problems %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.title}}</td>
          <td>{{item.difficult}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}