{% extends "base.html" %}

{% block content %}
    {% if my_profile %}
      <a class="btn btn-lg btn-secondary" href="/become_author">Стать автором</a>
    {% else %}
      <h2>Профиль ученика {{title}}</h2>
    {% endif %}
    <h3 class="text-primary">Последние решения</h3>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Задача</th>
          <th scope="col">Сложность</th>
          <th scope="col">Решено</th>
          <th scope="col">Тесты</th>
        </tr>
      </thead>
      <tbody>
        {% for item in solved_problems %}
        <tr>
          <th scope="row"><a href="/problem/{{item.id}}" class="link-danger">{{item.problem.id}}</a></th>
          <td><a href="/problem/{{item.id}}" class="link-success">{{item.problem.title}}</a></td>
          <td>{{item.problem.difficult}}%</td>
          <td>{{item.is_solved}}</td>
          <td>{{item.solved_tests}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-primary">Любимые задачи</h3>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Задача</th>
          <th scope="col">Сложность</th>
            <th scope="col">Решено</th>
        </tr>
      </thead>
      <tbody>
        {% for item in fav_problems %}
        <tr>
          <th scope="row"><a href="/problem/{{item.id}}" class="link-danger">{{item.problem.id}}</a></th>
          <td><a href="/problem/{{item.id}}" class="link-success">{{item.problem.title}}</a></td>
          <td>{{item.problem.difficult}}%</td>
            <td>{% if item.problem.id in solved %}True{% else %}False{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}